.card-wrapper {
  margin: 5% 0;
}

/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 10vw;
  height: 10vw;
  background-color: #f9faf5;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  font-family: 'Alacrity Sans Light';
}

.card-text {
  font-family: MerriweatherRegular;
  font-size: 22px;
  line-height: initial;
}

.dropzone {
  border-style: solid;
  border-radius: 20px;
}

.error {
  font-family: 'Alacrity Sans Light';
  font-size: 20px;
  line-height: initial;
  text-align: left;
  border-radius: 20px;
  margin-top: 120px;
}

.title {
  font-family: 'Alacrity Sans Regular';
  font-size: 40px;
  padding: 2rem;
}

.navbar {
  background-color:#365d56;
}

.body {
  background-color: #fbfbf3;
}

.subheader {
  font-family: 'Alacrity Sans Regular';
  font-size: 30px;
  padding-top: 3rem;
  margin-left: 60px;
  padding-bottom: 1rem;
}

.celeb-cards {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}

.btn {
  background-color: #63caa4;
  font-family: 'Alacrity Sans Light';
  color: black;
}

#classTable {
  font-family: 'Alacrity Sans Light';
  border-collapse: collapse;
  width: 100%;
}

#classTable td,
#classTable th {
  border: 1px solid #7c7474;
  padding: 8px;
  font-family: 'Alacrity Sans Light';
  background-color: #e0f4ec;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #63caa4;
  color: white;
  font-family: 'Alacrity Sans Regular';
}